<div class="form-group">
    <label for="<%= queryInputKey %>" class="control-label" style="width: 78px"><%= queryInputValue %>：</label>
    <input type="text" id="<%= queryInputKey %>" name="<%= queryInputKey %>" class="form-control m-l-xs">
</div>