<div class="form-group" >
<% if (queryKey.length > 0) { %>
    <label class="col-sm-3 control-label"><%= queryKey %>：</label>
<% } else { %><% } %>
    <span class="col-sm-3 control-label" style="font-size: 16px">
        <%= queryValue %>
    </span>
</div>